<div class="mt-4">
  <div>
    <h1>Sản phẩm đã xóa</h1>
    <a href="/products/stored">Danh sách sản phẩm</a>
  </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Sản Phẩm</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Màu Sác</th>
                <th scope="col">Giá Tiền</th>
                <th scope="col">thời gian tạo</th>
                <th scope="col" class="text-center">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each product}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.color}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.createdAt}}</td>
                    <td style="width: 250px">
                        <a href="" class="btn btn-success btn-restore" data-id="{{this._id}}">Khôi Phục</a>
                        <a href="" data-bs-toggle="modal" class="btn btn-danger" data-id="{{this._id}}" data-bs-target="#delete-product-modal">Xóa vĩnh viễn</a>
                    </td>
                </tr>
                {{else}}
                    <td colspan="8" class="text-center">
                      Chưa có sản phẩm nào bị xóa
                      <a href="/admin/stored/products">Danh sách khóa học</a>
                    </td>
            {{/each}}
        </tbody>
    </table>
</div>



{{!-- confirm delete  products--}}
<div id="delete-product-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa Sản Phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa sản phẩm này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-product" class="btn btn-danger">Xóa bỏ</button>
        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


<form name="delete-product-from" method="POST"></form>
<form name="restore-product-from" method="POST"></form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    var productId;
    var btnDeleteProduct = document.getElementById('btn-delete-product');
    var deleteForm = document.forms['delete-product-from'];
    var restoreForm = document.forms['restore-product-from'];
    var restoreBtn = $('.btn-restore');

    // when delete course btn clicked
    $('#delete-product-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      productId = button.data('id');
    });

    // when delete products btn clicked
      btnDeleteProduct.onclick = function(){
        deleteForm.action = '/products/' +  productId + '/force?_method=DELETE';
        deleteForm.submit();
      }

    restoreBtn.click(function(e){
      e.preventDefault();
      var productId = $(this).data('id');
      restoreForm.action = '/products/' +  productId + '/restore?_method=PATCH';
      restoreForm.submit();

    });
    


</script>
